<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 | Victor Asuquo</p>
    <a href="/oop" title="Test error link">Error Link</a>
</footer>