/******* Mobile ***************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
 background-image: url("/images/site/checkerboard.jpg"); 
}

body {
  background-color: white;
  border: rgb(52, 218, 218) 4px solid;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);  
  max-width: 600px;
  margin: 25px auto;
  font-size: 18px;
}

header, nav, h1, section {
  padding: 0 20px;
}

header {
  max-width: 100%;  
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.hero {
  margin: 25px 25px;
  display: flex;
  justify-content: center;
}

.hero img {
  max-width: 250px;
  max-height: 128px;
}

.hero-content {
  opacity: 95%;
  background-color: #fff;
  border: #eee solid 1px;
  position: absolute;
  top: 180px;
  left: 20px;
  color: blue;
  font-size: 13px;
  font-weight: 600;
}

#inv-display li {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#inv-display li {
  max-width: 70%;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: aliceblue;  
  border-radius:12px;
  box-shadow: 0 4px 10px rgba(2, 6, 23, 0.271);
  border:2px solid rgba(8, 43, 201, 0.66);
}

#inv-display li img {
  width: 100%;
  height: 130px;
}

.namePrice {
  padding-left: 10px;
}

h1 { 
  font-size: 20px;
}

h2 { 
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

footer {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul {
  max-width: 100%;
    display: flex;
    background-color: #444;
    justify-content: space-around;
    padding: 0.6rem;
}

nav ul a {
    color: #eee;
    font-size: 13px;
}
nav ul li a:hover {background-color: firebrick;}

.hero-content img {
  margin-top: 5px;
  max-width: 100px;
  max-height: 40px;
  cursor: pointer;
}
.siteName a {
  font-size: 24px;
  font-weight: 800;
  color: black;
}

#tools a {
  font-size: 14px;
  font-weight: 800;
  color: black;
}

.row {
    margin-top: 50px;
    margin-bottom: 30px;
    display:block;
    justify-content:center;
    max-width:100%;
}

.cards-section, .features-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width:100%;  
}

.cards-section h2, .features-section h2 {
  margin-bottom: 15px;
}

.cards{
      display:grid;
      grid-template-columns:repeat(2,1fr);
      gap:16px;
}

.card{
    padding-top: 15px;
    background-color: skyblue;
    border-radius:12px;
    box-shadow: 0 4px 10px rgba(2,6,23,0.04);
    border:1px solid rgba(2,6,23,0.04);
    display:flex;
    flex-direction:column;
    align-items: center;
}

.card img{
    width:35%;
    height:65%;
    object-fit:cover;
    display:block;
}

.card-body{
    padding:12px 14px;
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-between
}

.card-title{
    font-size:0.98rem;
    margin:0 0 6px 0;
    color:#0f172a
}

.card-title a {
  color:#0f172a
}

.features-list li {
    margin: 16px;
    font-size: 18px;
    font-weight: 400;
}

/* ========== TABLET SCREENS  ========== */
@media (min-width: 600px) {

  .hero-content {
    top: 180px;
    left: 200px;
    font-size: 15px;
  }

  #inv-display li img {
    width: 100%;
    height: 165px;
  }


}

/* ========== DESKTOP SCREENS ========== */
@media (min-width: 992px) {

  body, header {
      max-width: 1200px;
  }

  nav ul a {
    color: #eee;
    font-size: 20px;
  } 

  #inv-display {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
  }

  #inv-display li {
    max-width: 260px;
  }

  #inv-display li img {
    width: 250px;
    height: 120px;
  }

  .namePrice h2 {
    font-size: 18px;
  }



  .row {
    display: flex;
  }

  .hero img {
    max-width: 750px;
    max-height: 300px;
  }

  .hero-content {
    top: 250px;
    left: 420px;
    font-size: 24px;
  }

  h2 { 
      font-size: 28px;
  } 

  h3 {
    font-size: 20px;
  }

  .hero-content img {
    margin-top: 20px;
    max-width: 150px;
    max-height: 60px;
  }
.siteName a {
  font-size: 48px;
}

#tools a {
  font-size: 28px;
}

.cards-section, .features-section {
  max-width:50%;  
}

.cards-section h2, .features-section h2 {
  margin-bottom: 35px;
}

.features-list li {
    margin: 20px;
    font-size: 20px;
}

footer {
  font-size: 18px;
}

}

  




